@charset "UTF-8";


.img_size img{
 width: 100px;
 height: 70px;
}
.img_size a {
 font-size: 0.8em;
 color: black;
}
.search_form {
 height: 70px;
 padding-top: 30px;
 text-align: center;
}
.qna_header {
 padding-bottom: 15px;
 border-bottom: 2px solid #353535;
 margin-top: 20px;
}
.th_div {
 font-weight: bold;
}
.font_size14 {
 font-size: 140%;
}
.table_div {
 border-top: 2px solid #353535;
 border-bottom: 2px solid #353535;
}
.td_hover:hover {
 background-color: rgb(158, 22, 22);
 color: white !important;
}
.td_div {
 padding: 0.2em 15px;
}
.th_header {
 padding: 20px;
}
.tr_div {
 border-bottom: 1px solid gray;
 padding: 10px 0;
}
.level {
    width: 23px;
    height: 23px;
    display: inline-block;
    background-image: url(../images/lev.jpg);
    background-repeat: no-repeat;
    color: white;
  font-weight: bold;
   text-align: center;
}
.help img {
 width: 100%;
}
.info img {
 width: 100%;
}
.info p {
 text-align: center;
}
.clear_both {
 clear: both;
}
.overflow {
 overflow: hidden;
}
.pad_t30 {
 padding-top: 30px;
}
.content_detail {
 padding: 20px;
 min-height: 300px;
 max-height: 600px;
 overflow-y: scroll;
}
.text_center {
 text-align: center;
}
.border_both {
 border-left: 1px solid gray;
 border-right: 1px solid gray;
}
.border_right {
 border-right: 1px solid gray;
}
.boarder_left {
 border-left: 1px solid gray;
}
.page_div {
 text-align: center;
}
.border_fieldset {
 border: 2px solid #353535;
 padding: 0 30px;
}
.border_fieldset legend {
 width: auto;
 border: 0;
}

.user_none {
 color: rgba(0, 0, 0, 0.3);
}
.chat_time {
 font-size: 0.7em;
}
.pad_both0 {
 padding-left: 0;
 padding-right: 0;
}
.badge-me {
 text-align: right;
}
.badge-me .badge {
 background-color: #03a9f4;
}
.badge-you .badge {
 background-color: #ffc107;
}


.site-btn,
.site-btn-submit {
	display: inline-block;
	border: none;
	outline: none;
	cursor: pointer;
	padding: .5em 1em;
	font-size: 1em;
	color: #fff !important;
	text-align: center;
}

.site-btn-full{
	width: 100%;
}

.site-btn:hover,
.site-btn-submit:hover {
	color: #fff !important;
	text-decoration: none;
}

.site-btn {
	background: rgb(158, 158, 158) !important;
	margin: 0;
}

.site-btn:hover {
	background: rgb(208, 208, 208) !important;
}

.site-btn-submit {
	background: rgb(158, 22, 22) !important;
	margin: 0;
}

.site-btn-submit:hover {
	background: rgb(208, 82, 82) !important;
}

.form-select:hover {
    background-color: #F9F9F9;
}

.form-wrap {
    padding: 4em 0;
}

.form-row{
	margin-bottom: 0;
}

.form-comp, .form-comp-row, .form-row{
	overflow: hidden;
}

.form-static{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.form-row, .form-comp-row {
	margin-right: -15px;
	margin-left: -15px;
	overflow: hidden;
	min-width: 100%;
}

textarea.form-text{
    resize: vertical;
    max-width: 100%;
}

.form-heading {
    background: rgb(158, 22, 22);
    padding: 3em 0em;
}

.form-heading h1 {
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
}

.form-body {
    width: 40%;
    margin: 0 auto;
}

.form-info {
    padding: 4em 1.5em 1em;
    background: #FFFFFF;
}

.form-info .form-comp, .form-info .form-comp-row {
	font-size: 1em;
    color: #787878;
    background: #FFFFFF;
    margin-bottom: 1.5em;
}

.form-info .form-text, .form-info .form-select,
.form-info textarea.form-text {
	font-size: 0.9em;
    width: 100%;
    color: #787878;
    background: #FFFFFF;
    margin: 0 0 1.5em 0;
}

.form-info input.form-text, .form-info .form-select{
    outline: none;
    padding: 10px 0px;
    border: 1px solid #D3D3D3;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-info .form-select>option {
    background-color: #FFF;
}

.form-info textarea.form-text {
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid rgb(211, 211, 211);
	background: rgb(255, 255, 255);
	min-height: 10em;
}

.form-simple{
	
}

.form-simple .form-comp, .form-simple .form-comp-row {
	font-size: 1em;
    color: #111111;
    margin-bottom: 1.5em;
}

.form-simple .form-text, .form-simple .form-select,
.form-simple textarea.form-text {
	font-size: 0.9em;
    width: 100%;
    color: #111111;
    background: none;
    margin: 0 0 1.5em 0;
}

.form-simple input.form-text, .form-simple .form-select,
.form-simple textarea.form-text {
    outline: none;
	padding: 10px 15px 10px 15px;
	border: 1.5px solid #CBCBCB;
}

.form-simple textarea.form-text {
	min-height: 10em;
}

.form-simple .form-group.row{
	overflow: hidden;
}

.ali-center, .ali-center{
	text-align: center;
}

.ali-left, .ali-left{
	text-align: left;
}

.ali-right, .ali-right{
	text-align: right;
}



.site-top-title{
	padding: 4em 0;
	background: #DDD;
	text-align: center;
}

.site-top-title.site-title-default{
	background-color: rgb(158, 22, 22);
	color: white;
}

.site-top-title.site-title-smooth-blue{
	background-color: #1994FF;
	color: white;
}

.site-top-title.site-title-skyblue{
	background-color: skyblue;
	color: white;
}

.table-wrap{
	padding: 2em 0 4em 0;
	background: #F9F9F9;
}

.table-box{
	background-color: white;
	width: 100%;
	box-shadow: 0 0 0.25em 0.0005em #999;
	padding: 0.5em;
	overflow: hidden;
   	color: #333;
}
   
.table-box a{
	color: #333;
}
   
.table-table{
	background-color: #fff;
	border-top: 1px solid gray;
}

table.table-table{
	width: 100%;
}

.table-thead, .table-tbody{
	text-align: center;
	margin: 0;
	overflow: hidden;
}

.table-thead, table.table-table thead tr{
	font-weight: bold;
	border-bottom: 1px solid gray;
}

table.table-table thead th{
	text-align: center;
}
  
.table-thead:before, .table-tbody:before{
	display: table;
	content: " ";
}
  
.table-thead:after, .table-tbody:after{
	clear: both;
}
   
.table-thead>div, table.table-table thead th, table.table-table tbody tr>*{
	padding: 0.5em 0;
}

.table-tr, .table-tr-nodata, table.table-table tbody tr>*{
	border-bottom: 1px solid lightgray;
	overflow: hidden;
}

.table-tr-nodata, td.table-tr-nodata {
	text-align: center;
	padding: 2.5em 1em !important;
}

td.table-tr-nodata, td.table-tr-nodata:hover {
	background: white;
	color: #333;
}

table.table-table tbody th{
	text-align: center;
	font-weight: normal;
}

.table-tr {
	margin: 0;
}

.table-tr>a{
	display: block;
	overflow: hidden;
}

.table-tr>a,
table.table-table.table-hover a{
	transition: unset;
	-webkit-transition: unset;
	-o-transition: unset;
	-moz-transition: unset;
	-ms-transition: unset;
}

.table-table.table-hover .table-tbody .table-tr:hover,
table.table-table.table-hover tbody tr:hover,
table.table-table.table-hover tbody tr:hover>* a{
	background-color: rgb(158, 22, 22);
	color: white;
}

.table-table.table-hover .table-tbody .table-tr:hover > *{
	color: white;
}

.table-td{
	padding: 0.75em;
	display: block;
	overflow: hidden;
}

.table-td>p{
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    margin: 0;
}

.table-td-title{
	text-align: left;
	font-weight: bold;
	padding-bottom: 0.5em;
	font-size: 1.5em;
}

.table-td-left{
	text-align: left;
}

.table-td-center{
	text-align: center;
}

.table-td-right{
	text-align: right;
}
.table-sub{
	padding: 0.5em 0;
	text-align: center;
}

.table-sub .pagination>.active>*,
.table-sub .pagination>.active>*:hover,
.table-sub .pagination>.active>*:focus{
	background-color: rgb(158, 22, 22);
	border: solid 1px rgb(158, 22, 22);
}

@media (max-width: 767px) {
	.table-xs-left{
		text-align: left;
	}
	
	.table-xs-center{
		text-align: center;
	}
	
	.table-xs-right{
		text-align: right;
	}
	
	.table-xs-sub{
		font-size: 75%;
		color: #777;
	}
}

@media (min-width: 768px) {
	.table-td {
		padding: 0.5em 0;
	}
	
	.table-td-title{
		font-weight: unset;
		padding-bottom: 0;
		font-size: 100%;
	}
	
	.table-table.table-hover .table-tbody .table-tr:hover .table-td-title >p,
	table.table-table.table-hover tbody tr:hover>* a:hover{
		text-decoration: underline;
	}
	
}

.shadow-box,
.shadow-box-fit{
	background-color: white;
	width: 100%;
	box-shadow: 0 0 0.25em 0.0005em #999;
	overflow: hidden;
   	color: #333;
   	margin: 1em 0;
}

.shadow-box{
	padding: 0.5em;
}

.site-content-wrap{
	padding: 4em 0;
}
