.site-board-title{
	padding: 4em 0;
	background: #DDD;
	text-align: center;
}

.site-board{
	padding: 2em 0 4em 0;
	background: #F9F9F9;
}

.site-board>.container{
	max-width: 970px;
}

.site-board .form-body{
	width: 70%;
}

.site-board textarea.board-write  {
	height: 15em;
}

.board-inner{
	background-color: white;
	width: 100%;
	box-shadow: 0 0 0.25em 0.0005em #999;
	padding: 0.5em;
	overflow: hidden;
	
}

.board-inner a{
	color: #333;
}

.board-list{
	background-color: #fff;
	border-top: 1px solid gray;
}

.board-list-header{
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid gray;
	margin: 0;
}

.board-list-header>div{
	padding: 0.5em 0;
}

.board-list-body{
	text-align: center;
	margin: 0;
}

.board-list-row{
	margin: 0;
}

.board-list-row>a{
	padding: 0.75em;
	display: block;
	overflow: hidden;
}

.board-list-row .board-list-title{
	text-align: left;
	font-weight: bold;
	padding-bottom: 0.25em;
}

.board-list-row .board-list-title > p{
	font-size: 150%;
}

.board-list-row > a > div{
	padding: 0;
}

.board-list-row > a > div > p{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	margin: 0;
}

.board-list-row > a > .board-list-title > p{
	max-width: 100%;
}

.board-list-row:hover{
	background-color: rgb(158, 22, 22);
}

.board-list-row:hover > a > div{
	color: white !important;
}

.board-list-row .board-list-writer, .board-list-row .board-list-date{
	color: #777;
	font-size: 75%;
	padding-top: 0.25em;
}

.board-list-row .board-list-writer{
	text-align: left;
}

.board-list-row .board-list-date{
	text-align: right;
}

.board-list-sel{
	background-color: #AAA;
}

.board-list-sel:hover{
	background-color: #999 !important;
}

.board-list-sel *{
	color: #FFF !important;
}

.board-list-nodata{
	text-align: center;
	padding: 2.5em 1em;
}

.board-list-row, .board-list-nodata{
	border-bottom: 1px solid lightgray;
}

.board-list-sub{
	padding: 0.5em 0;
	text-align: center;
}

.board-list-sub .pagination{
	margin: 0;
}

.board-search-type, .board-search-keyword{
	padding: 0;
	margin-bottom: 0.25em;
}

.col-left{
	text-align: left;
}

.col-center{
	text-align: center;
}

.col-right{
	text-align: right;
}

.board-detail-title{
	margin: 0;
}

.board-detail-title>*{
	padding: 0.5em;
}

.board-detail-title>div{
	font-size: 75%;
}

.board-detail-sub{
	margin: 0;
	padding: 0.5em;
	background-color: #DDD;
	font-size: 75%;
}

.board-detail-file{
	margin: 0;
	padding: 0.25em 0.75em 0 0;
}

.board-detail-file>div{
	font-size: 75%;
	color: #999;
	position: relative;
}

.board-detail-file-list{
	position:absolute;
	top: 100%;
	right: 0;
	padding: 0.5em;
	border: 1px solid #AAA;
	background-color: white;
}

.board-detail-file-list > ul{
	list-style: none;
	color: #333;
	padding: 0;
	margin: 0;
}

.board-detail-content{
	padding: 0.75em;
	margin: 0 0 0.75em 0;
	border-bottom: #DDD solid 1px;
	min-height: 10em;
}

.board-detail-btnwrap {
	font-size: 0.875em;
}

.board-detail-comments{
	margin: 0;
	background-color: #FFF;
}

.board-detail-comments-list{
	width: 100%;
	margin-bottom: 1.5em;
}

.board-detail-comments-row{
	border-bottom: 1px solid #EEE;
}

.board-detail-comments-nodata{
	border-top: 1px solid #EEE;
}

.board-detail-comments-nodata>p{
	margin: 1.5em;
}

.board-detail-comments>h4{
	padding: 0.75em 0;
}

.board-detail-comments-del{
	color: #999;
	background-color: #F7F7F7;
	padding: 1em;
}

.board-detail-comments-del>p{
	margin: 0;
}

.board-detail-comments-sub{
	padding: 0.25em;
	background-color: #EEE;
	font-size: 75%;
	overflow: hidden;
}

.board-detail-comments-contents{
	padding : 0.5em;
	border-bottom: #EEE solid 1px;
}

.board-detail-comments-write {
	padding: 0.5em;
}

.btn-file-add, .btn-file-del{
	padding: 0.1em;
	font-size: 0.9em;
}

.board-inner .pagination>.active>*,
.board-inner .pagination>.active>*:hover,
.board-inner .pagination>.active>*:focus{
	background-color: rgb(158, 22, 22);
	border: solid 1px rgb(158, 22, 22);
}

@media (min-width: 767px) {
	.board-list-row>a{
		padding: 0.5em 0;
	}
	
	.board-list-row .board-list-title{
		font-weight: unset;
		padding-bottom: 0;
	}
	
	.board-list-row .board-list-title > p{
		font-size: 100%;
		width: unset;
	}
	
	.board-list-row .board-list-title .label{
		font-size: 50%;
		font-weight: bold;
	}
	
	.board-list-row:hover .board-list-title > span,
	.board-list-row:hover .board-list-title > p{
		text-decoration: underline;
	}
	
	.board-list-row .board-list-writer, .board-list-row .board-list-date{
		color: #333;
		padding-top: 0;
		font-size: 100%;
	}
	
	.board-list-row .board-list-writer, .board-list-row .board-list-date{
		text-align: center;
	}
	
	.board-list-row > a > .board-list-title > p{
		max-width: 70%;
	}
}